.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box{
  border: 1px solid green;
  color: green;
}

.title{
  text-align: center;
  border-bottom: 1px solid green;
}
.node-list{
  padding: 20px;
}

li{
  cursor: pointer;
  padding: 5px 10px;
}

.buttons-group{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 5px 10px;
  border-top: 1px solid green;
}